.index-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.index-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index-text strong {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.index-text strong span {
    color:#970C10;
}

.index-text p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2px;
}

.index-card-deck{
    display: flex;
    padding: 30px;
    width: 90%;
    justify-content:space-evenly;
}

.index-cards{
    border: 2px solid #dddddd !important;    
    background: transparent !important;
    margin:10px;
}

.index-card-media{
    border-bottom: 2px solid #dddddd ;
}

.index-btn {
    width: 200px;
    height: 45px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px !important;
    color: black;
    border: 2px solid #dddddd !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.index-btn:hover {
    transition: all ease 0.3s;
    color: #f76363 !important;
}

.index-btn:active{
    color: #f76363 !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.index-btn-icon{
    color: red !important;
}

/*----------Responsive--------*/

@media (min-width: 780px) and (max-width:1200px){
    .index-card-deck {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media(max-width:780px){
    .index-text strong{
        font-size: 2rem;
        line-height: 40px;
        padding: 0px 10px;
    }

    .index-text p {
        font-size: 1rem;
    }

    .index-btn {
        width: 200px;
        height: 44px;
        margin: 30px;
    }

    .index-card{
        margin: 20px !important;
    }

    .index-card-deck{
        display: flex;
        justify-content: center;
        padding: 30px;
        align-items: center;
        flex-direction: column;
    }
}
