/* App.css */
.app-container {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.footer-1 {
  margin-top: auto !important; /* Push the footer to the bottom */
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}