/* App.css */
.app-container {
    display: flex !important;
    flex-direction: column;
    min-height: 98vh;
    /* Ensure the container takes at least the full viewport height */
}

.footer-1 {
    margin-top: auto !important;
    /* Push the footer to the bottom */
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0 !important;
}

/* background toggle */
.dark {
    color: #D9E4EC !important;
}

.dark:hover {
    transition: all ease 0.3s;
    color: #f76363 !important;
}

.dark:active {
    color: #f76363 !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.dark-mode {
    background-color: #102842 !important;
    color: white !important;
}

.dark-mode-card {
    background-color: #102842 !important;
    color: white !important;
}

.dark-toggle {
    border: 2px solid white !important;

    &:focus {
        box-shadow: 0 0 0 0 !important;
    }
}

.light-toggle {
    border: 2px solid !important;

    &:focus {
        box-shadow: 0 0 0 0 !important;
    }
}

.light-mode {
    background-color: #EFF5FB !important;
    color: black !important;
}

.light-mode-card {
    color: black !important;
}


.MuiTablePagination-displayedRows {
    margin: 0 !important;
}


/* admin dashboard */
.dashboard-logo-1 {
    position: relative;
    border-radius: 50px !important;
    padding: 5px !important;
    margin: 20px !important;
    box-shadow: 3px 3px 5px #36A3EA,
    -3px -3px 5px #36A3EA,
    3px -3px 5px #36A3EA,
    -3px 3px 5px #36A3EA;
}

.dashboard-logo-2 {
    position: relative;
    border-radius: 50px !important;
    padding: 5px !important;
    margin: 20px !important;
    box-shadow: 3px 3px 5px #FFCE56,
        -3px -3px 5px #FFCE56,
        3px -3px 5px #FFCE56,
        -3px 3px 5px #FFCE56;
}

.dashboard-logo-3 {
    position: relative;
    border-radius: 50px !important;
    padding: 5px !important;
    margin: 20px !important;
    box-shadow: 3px 3px 5px #BFAEC1,
        -3px -3px 5px #BFAEC1,
        3px -3px 5px #BFAEC1,
        -3px 3px 5px #BFAEC1;
}

.dashboard-logo-4 {
    position: relative;
    border-radius: 50px !important;
    padding: 5px !important;
    margin: 20px !important;
    box-shadow: 3px 3px 5px #F76363,
        -3px -3px 5px #F76363,
        3px -3px 5px #F76363,
        -3px 3px 5px #F76363;
}